<link rel="stylesheet" href="../assets/adduser-style.css">
<link rel="stylesheet" href="../assets/nav-footer-style.css">

<%-include('../static/nav.ejs')%>

<div class="signup-div">
    <h1>update book</h1>
    <form method="POST">
        <input type="text" name="book_name" id="book_name" placeholder="   book name" class="bookname" value="<%= res[0].book_name %>">
        <input type="text" name="author" id="author" placeholder="  author" class="author" value="<%= res[0].author %>">
        <input type="text" name="year" id="year" placeholder="  year" class="year" value="<%= res[0].release_year %>">
        <input type="submit" id="signup-btn" name="submit" value="update details" >
    </form>
</div>
<%-include('../static/footer.ejs')%>