<link rel="stylesheet" href="../assets/udatebook-style.css">
<link rel="stylesheet" href="../assets/nav-footer-style.css">

<%-include('../static/nav.ejs')%>

<div class="updatebook-div">
    <h1 id="updatebook-heading">update book</h1>
    <form method="POST">
        <input type="text" name="book_name" id="book_name" placeholder="   book name" class="bookname inp-elem" value="<%= res[0].book_name %>">
        <input type="text" name="author" id="author" placeholder="  author" class="author inp-elem" value="<%= res[0].author %>">
        <input type="text" name="year" id="year" placeholder="  year" class="year inp-elem" value="<%= res[0].release_year %>">
        <input type="submit" id="signup-btn" name="submit" value="update details" class="inp-elem" >
    </form>
</div>
<%-include('../static/footer.ejs')%>