
<link rel="stylesheet" href="../assets/nav-footer-style.css">
<link rel="stylesheet" href="../assets/viewbook-style.css">

<%-include('../static/nav.ejs')%>
<div id="first-div"> 
    <p id="vb-heading" style="font-size: 40px; margin: auto;">view books</p>
    <button id="add-b-btn"><a href="http://localhost:9000/viewbooks/addbook">+add book </a></button>
</div>

<div class="fortable">
<table>
    <tr id="heading">
        <td>Book name</td>
        <td>Authors name</td>
        <td>y/o issue</td>
        <td>delete</td>
        <td>update</td>
    </tr>

    <% for(var i=0; i<len; i++) {%>
        <tr>
            <td class="bookname" id="bookname-id"> <%= res[i].book_name %></td>
            <td class="authname"><%= res[i].author %></td>
            <td class="year"><%= res[i].release_year %></td>
            <td><a type="button" href="/viewbooks/delete/<%= res[i].book_id %>" class="delete-btn">delete</a></td>
            <td><a type="button" href="/viewbooks/update/<%= res[i].book_id %>" class="update-btn">update</a></td>
        </tr>
     <% } %>
   
</table>
</div>

<%-include('../static/footer.ejs')%>

<Script>
    // console.log(JSON.stringify(res));
    document.getElementById('bookname-id').innerHTML = result;
</Script>

   